@charset "UTF-8";
/*
 * common中公共用样式
 * 颜色、边框、字体等
*/
/*
 * common中公共用样式
 * 颜色、边框、字体等
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
section,
article,
aside,
header,
footer,
nav,
dialog,
figure,
hgroup {
  margin: 0;
  padding: 0; }

input,
select,
textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500; }

ul,
ol,
li {
  list-style: none; }

em,
i {
  font-style: normal; }

del {
  text-decoration: line-through; }

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500; }

img {
  border: 0;
  max-width: 100%; }

input,
img {
  vertical-align: middle; }

input:focus,
a:focus {
  outline: 0; }

input:hover {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only; }

a {
  color: #353d44;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:active {
  opacity: 0.7; }

* {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

.hide {
  display: none; }

.clearfix {
  overflow: hidden;
  zoom: 1; }

body {
  margin: auto;
  padding: 0;
  background: #f5f5f5;
  font-family: 'Microsoft YaHei', Arial, 'Helvetica Neue', Helvetica, 'STHeiTi', sans-serif;
  -webkit-overflow-scrolling: touch; }

.fl {
  float: left; }

.hy-content {
  width: 1200px;
  margin: 0 auto; }
  .hy-content::before, .hy-content::after {
    content: "";
    display: table; }
  .hy-content::after {
    clear: both; }

.container-main {
  zoom: 1;
  z-index: 1; }
  .container-main::before, .container-main::after {
    content: '';
    display: table; }
  .container-main::after {
    clear: both; }

.b-tabs .tabs {
  margin-bottom: 0;
  flex-shrink: 0; }
  .b-tabs .tabs li a:focus {
    outline: none;
    border-bottom-color: #1451b8; }
  .b-tabs .tabs li:not(.is-active) a:focus {
    border-bottom-color: #1451b8; }
  .b-tabs .tabs li.is-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5; }
  .b-tabs .tabs.is-boxed li a:focus {
    background-color: #1451b8;
    border-bottom-color: #1451b8; }
  .b-tabs .tabs.is-boxed li:not(.is-active) a:focus {
    background-color: #1451b8;
    border-bottom-color: #1451b8; }
  .b-tabs .tabs.is-toggle li a:focus {
    background-color: #1451b8;
    border-color: #1451b8; }
  .b-tabs .tabs.is-toggle li:not(.is-active) a:focus {
    background-color: #1451b8;
    border-color: #1451b8; }

.b-tabs .tab-content {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  padding: 1rem; }
  .b-tabs .tab-content .tab-item {
    flex-shrink: 0;
    flex-basis: auto; }
    .b-tabs .tab-content .tab-item:focus {
      outline: none; }
  .b-tabs .tab-content.is-transitioning {
    overflow: hidden; }

.b-tabs:not(:last-child) {
  margin-bottom: 1.5rem; }

.b-tabs.is-fullwidth {
  width: 100%; }

.b-tabs.is-vertical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .b-tabs.is-vertical > .tabs ul {
    flex-direction: column;
    border-bottom-color: transparent; }
    .b-tabs.is-vertical > .tabs ul li {
      width: 100%; }
      .b-tabs.is-vertical > .tabs ul li a {
        justify-content: left; }
  .b-tabs.is-vertical > .tabs.is-boxed li a {
    border-bottom-color: transparent !important;
    border-right-color: #1451b8 !important;
    border-radius: 2px 0 0 2px; }
  .b-tabs.is-vertical > .tabs.is-boxed li.is-active a {
    border-bottom-color: #1451b8 !important;
    border-right-color: transparent !important; }
  .b-tabs.is-vertical > .tabs.is-toggle li + li {
    margin-left: 0; }
  .b-tabs.is-vertical > .tabs.is-toggle li:first-child a {
    border-radius: 2px 2px 0 0; }
  .b-tabs.is-vertical > .tabs.is-toggle li:last-child a {
    border-radius: 0 0 2px 2px; }
  .b-tabs.is-vertical > .tabs.is-fullwidth li a {
    height: 100%; }
  .b-tabs.is-vertical > .tab-content {
    flex-grow: 1; }
  .b-tabs.is-vertical.is-right {
    flex-direction: row-reverse; }
    .b-tabs.is-vertical.is-right > .tabs ul a {
      flex-direction: row-reverse; }
      .b-tabs.is-vertical.is-right > .tabs ul a .icon:first-child {
        margin-right: 0;
        margin-left: 0.5em; }
    .b-tabs.is-vertical.is-right > .tabs.is-boxed li a {
      border-bottom-color: transparent !important;
      border-right-color: transparent !important;
      border-left-color: #1451b8 !important;
      border-radius: 0 2px 2px 0; }
    .b-tabs.is-vertical.is-right > .tabs.is-boxed li.is-active a {
      border-bottom-color: #1451b8 !important;
      border-right-color: #1451b8 !important;
      border-left-color: transparent !important; }

.b-tabs.is-multiline > .tabs ul {
  flex-wrap: wrap;
  flex-shrink: 1; }

.tabs {
  -webkit-overflow-scrolling: touch;
  align-items: stretch;
  font-size: 1rem;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap; }
  .tabs a {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #4a4a4a;
    justify-content: center;
    margin-bottom: -1px;
    padding: .5em 1em;
    vertical-align: top;
    box-sizing: border-box; }
    .tabs a:hover {
      border-bottom-color: #363636;
      color: #363636; }
  .tabs li {
    display: block; }

.tabs, .tabs a {
  display: flex; }

.tabs li.is-active a {
  border-bottom-color: #7957d5;
  color: #7957d5; }

.tabs ul {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start; }

.tabs ul.is-center, .tabs ul.is-left {
  padding-right: .75em; }

.tabs ul.is-center {
  flex: none;
  justify-content: center;
  padding-left: .75em; }

.tabs ul.is-right {
  justify-content: flex-end;
  padding-left: .75em; }

.tabs .icon:first-child {
  margin-right: .5em; }

.tabs .icon:last-child {
  margin-left: .5em; }

.tabs.is-centered ul {
  justify-content: center; }

.tabs.is-right ul {
  justify-content: flex-end; }

.tabs.is-boxed a {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0; }

.tabs.is-boxed a:hover {
  background-color: #f5f5f5;
  border-bottom-color: #dbdbdb; }

.tabs.is-boxed li.is-active a {
  background-color: #fff;
  border-color: #dbdbdb;
  border-bottom-color: transparent !important; }

.tabs.is-fullwidth li {
  flex-grow: 1;
  flex-shrink: 0; }

.tabs.is-toggle a {
  border-color: #dbdbdb;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 0;
  position: relative; }

.tabs.is-toggle a:hover {
  background-color: #f5f5f5;
  border-color: #b5b5b5;
  z-index: 2; }

.tabs.is-toggle li + li {
  margin-left: -1px; }

.tabs.is-toggle li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.tabs.is-toggle li:last-child a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.tabs.is-toggle li.is-active a {
  background-color: #7957d5;
  border-color: #7957d5;
  color: #fff;
  z-index: 1; }

.tabs.is-toggle ul {
  border-bottom: none; }

.tabs.is-toggle.is-toggle-rounded li:first-child a {
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
  padding-left: 1.25em; }

.tabs.is-toggle.is-toggle-rounded li:last-child a {
  border-bottom-right-radius: 9999px;
  border-top-right-radius: 9999px;
  padding-right: 1.25em; }

.tabs.is-small {
  font-size: .75rem; }

.tabs.is-medium {
  font-size: 1.25rem; }

.tabs.is-large {
  font-size: 1.5rem; }

/*
 * common中公共用样式
 * 颜色、边框、字体等
*/
header {
  width: 100%;
  background: #fff; }

.header-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between; }

.head-logo {
  width: 150px;
  flex-shrink: 0; }

.head-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1; }
  .head-content a {
    color: #000;
    font-size: 1rem;
    margin-left: 50px;
    position: relative; }
    .head-content a:active {
      color: #000; }
    .head-content a:first-child.active:after {
      width: 32px; }
    .head-content a.active:after {
      content: "";
      display: block;
      height: 3px;
      width: 63px;
      background: #1451b8;
      position: absolute;
      bottom: -12px; }
  .head-content .h-search {
    width: 100px;
    height: 38px;
    background: #e6e6e6;
    margin-left: 35px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 0; }
    .head-content .h-search i {
      width: 16px;
      height: 16px;
      background: url("../images/icon-search.png") no-repeat;
      background-size: 100% 100%;
      margin-right: 6px; }

.search-main {
  width: 200px;
  display: none;
  align-items: center;
  margin-left: 30px;
  position: relative; }
  .search-main::before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background: url("../images/icon-search.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 15px; }
  .search-main input {
    width: 150px;
    border: solid 1px #e6e6e6;
    border-radius: 30px;
    padding: 8px 15px 8px 35px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font-size: 14px;
    outline: none; }
  .search-main span {
    font-size: 14px;
    flex-shrink: 0;
    margin-left: 15px;
    cursor: pointer; }

/*
 * common中公共用样式
 * 颜色、边框、字体等
*/
.footer-wrap {
  width: 100%;
  background: #fff; }

.comment-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 50px 0;
  box-sizing: border-box;
  justify-content: space-between; }
  .comment-container .com-log {
    width: 150px;
    height: 163px;
    flex-shrink: 0; }
  .comment-container .contact-info {
    padding-top: 10px; }
  .comment-container .c-i-cell {
    display: flex;
    align-items: center;
    margin-bottom: 28px; }
    .comment-container .c-i-cell img {
      margin-right: 30px; }
    .comment-container .c-i-cell span {
      font-size: 14px;
      color: #333;
      line-height: 25px; }

.fy-form-wrap {
  width: 586px; }
  .fy-form-wrap ::-moz-placeholder {
    color: #000;
    font-size: 14px; }
  .fy-form-wrap :-ms-input-placeholder {
    color: #000;
    font-size: 14px; }
  .fy-form-wrap ::placeholder {
    color: #000;
    font-size: 14px; }
  .fy-form-wrap textarea,
  .fy-form-wrap input {
    resize: none;
    border-color: #000;
    border-radius: 0; }
  .fy-form-wrap .button.is-info {
    background-color: #1451b8;
    width: 136px;
    height: 43px;
    border-radius: 0;
    color: #fff; }
    .fy-form-wrap .button.is-info span {
      font-size: 1rem; }

.footer-container {
  width: 100%;
  background: #010f26; }

.container-wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 0; }

.footer-colum {
  text-align: left;
  color: #fff; }
  .footer-colum h3 {
    font-size: 1rem;
    margin-bottom: 15px; }
  .footer-colum a {
    font-size: 14px;
    display: block;
    line-height: 38px;
    color: #fff; }
    .footer-colum a:active {
      color: #fff; }
  .footer-colum img {
    width: 160px;
    margin-bottom: 10px;
    margin-top: 6px; }

footer {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0; }
  footer h2 {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: flex-start; }
    footer h2::before {
      content: "";
      display: block;
      width: 25px;
      height: 20px;
      background: url("../images/icon-link.png") no-repeat;
      background-size: 100% 100%;
      margin-right: 2px; }
  footer .links {
    padding-left: 25px; }
    footer .links a {
      font-size: 14px;
      color: #999999;
      margin-right: 85px; }
      footer .links a:active {
        color: #999999; }

button,
.input,
.textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(.5em - 1px);
  padding-left: calc(.75em - 1px);
  padding-right: calc(.75em - 1px);
  padding-top: calc(.5em - 1px);
  position: relative;
  vertical-align: top; }

.input:active,
.input:focus,
.textarea:active,
.textarea:focus {
  outline: none; }

.input, .textarea {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  max-width: 100%;
  width: 100%; }

.input,
.textarea {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636; }

.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(.75em - 1px);
  resize: vertical; }

.textarea:not([rows]) {
  max-height: 40em;
  min-height: 8em; }

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(.5em - 1px);
  text-align: center;
  white-space: nowrap; }

.field:not(:last-child) {
  margin-bottom: .75rem; }

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit; }
  .control.is-expanded {
    flex-grow: 1;
    flex-shrink: 1; }

.is-clearfix:after {
  clear: both;
  content: " ";
  display: table; }

.field-body {
  display: flex;
  flex-basis: 0;
  flex-grow: 5;
  flex-shrink: 1; }

/*
 * common中公共用样式
 * 颜色、边框、字体等
*/
.list_dl {
  border: 2px solid #41b0e2;
  border-bottom: none;
  width: 250px;
  position: absolute;
  left: 0;
  top: 20px; }

.list_dt {
  background: #41b0e2;
  color: white;
  width: 246px;
  height: 60px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .list_dt:hover {
    background: #41b0e2; }
  .list_dt p {
    font-size: 1.2rem; }

#open-list {
  background: #41b0e2; }

.list_dd {
  display: block; }

.list_li {
  list-style-type: none;
  color: #000;
  height: 48px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #41b0e2; }
  .list_li a:hover,
  .list_li a.active {
    color: #41b0e2; }

.list_li:hover {
  color: #41b0e2; }

.related-news {
  width: 1200px;
  margin: 0 auto 30px; }
  .related-news h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #000;
    padding-top: 10px;
    padding-bottom: 30px; }
  .related-news-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.m-n__item {
  width: 31.5%; }
  .m-n__item .m__item-img {
    width: 100%;
    height: 200px;
    overflow: hidden; }
    .m-n__item .m__item-img img {
      width: 100%;
      transition-duration: .3s; }
    .m-n__item .m__item-img:hover img {
      transform: scale(1.1);
      filter: grayscale(0); }
  .m-n__item h3 {
    font-size: 1rem;
    color: #1451b8;
    margin: 15px 0 6px; }
  .m-n__item p {
    font-size: 14px;
    line-height: 24px; }

.modal, .modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.modal {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40; }
  .modal.is-active {
    display: flex; }
  .modal .animation-content {
    margin: 0 20px;
    transition: transform .2s ease;
    transform: scale(1.05); }

.modal-background {
  background-color: rgba(10, 10, 10, 0.86); }

.modal-card, .modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%; }

.modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
  -ms-overflow-y: visible; }

@media screen and (min-width: 769px) {
  .modal-card, .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px; } }

.modal-card-body {
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }
  .modal-card-body .label {
    color: #363636;
    display: block;
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: .5em; }
  .modal-card-body .input {
    font-size: 14px; }

.modal-card-foot, .modal-card-head {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 20px;
  position: relative; }

.modal-card-foot {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid #dbdbdb; }
  .modal-card-foot .button {
    font-size: 14px; }
    .modal-card-foot .button.is-primary {
      background-color: #1451b8;
      border-color: transparent;
      color: #fff;
      padding: 20px 30px;
      border-radius: 4px; }

.banner-wrap {
  width: 100%;
  height: 580px;
  position: relative;
  overflow: hidden; }
  .banner-wrap .swiper-pagination {
    bottom: 40px !important; }
    .banner-wrap .swiper-pagination .swiper-pagination-bullet {
      background: #333;
      border-radius: 8px;
      width: 30px;
      height: 5px; }
      .banner-wrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #fff; }

.h-banner {
  width: 100%;
  text-align: center;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .h-banner img {
    width: 500px;
    margin-bottom: 100px; }

.banner-btn {
  width: 170px;
  height: 40px;
  margin: 0 auto;
  color: #fff;
  background: #1451b8;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-size: 1rem;
  box-shadow: 0px 0px 4px 0px rgba(63, 81, 181, 0.55); }

.section-w {
  background: #fff;
  width: 100%; }

.section-g {
  width: 100%;
  background: #f2f2f2; }

.h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #000;
  padding-top: 30px;
  padding-bottom: 38px; }

.h-t-wrap {
  width: 1200px;
  height: 160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.h-t-item {
  display: flex;
  align-items: center; }
  .h-t-item img {
    margin-right: 20px;
    width: 90px; }
  .h-t-item span {
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    font-size: 1rem; }

.service-section {
  width: 1100px;
  margin: 0 auto;
  padding-bottom: 50px; }
  .service-section .b-tabs .tabs {
    width: 240px;
    flex-shrink: 0; }
  .service-section .b-tabs .tab-content {
    width: 720px;
    box-sizing: border-box;
    padding: 0 0 0 28px; }
    .service-section .b-tabs .tab-content .tab-item {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap; }
  .service-section .tabs.is-toggle a {
    background: #fff;
    border: none;
    justify-content: center !important; }
  .service-section .tabs.is-toggle li:first-child a {
    border-radius: 0; }
  .service-section .tabs.is-toggle li:last-child a {
    border-radius: 0; }
  .service-section .tabs.is-toggle li.is-active a {
    background: #1451b8;
    border-color: #1451b8; }
  .service-section .tabsitem {
    margin-bottom: 10px;
    height: 72px;
    flex-grow: initial; }
    .service-section .tabsitem:last-child {
      margin-bottom: 0; }
    .service-section .tabsitem a span {
      font-size: 1rem; }
    .service-section .tabsitem.is-active a {
      background: #1451b8; }

.s-content {
  width: 48%;
  background: #fff;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column; }
  .s-content:nth-child(3) {
    margin-bottom: 0; }
  .s-content:nth-child(4) {
    margin-bottom: 0; }
  .s-content img {
    width: 100%;
    height: 180px; }
  .s-content p {
    height: 58px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; }

.news-section {
  height: 700px;
  background: url("../images/new-bg.jpg") no-repeat;
  background-size: 100% 100%;
  padding-top: 72px;
  box-sizing: border-box; }

@media screen and (max-width: 1366px) {
  .wrap-content {
    width: 1100px !important; } }

.wrap-content {
  width: 1550px;
  box-sizing: border-box;
  padding-right: 100px;
  background: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }

.news-wrap {
  width: 1100px;
  padding-left: 20px;
  box-sizing: border-box;
  background: #fff; }
  .news-wrap .h2 {
    text-align: left;
    padding-left: 30px;
    padding-bottom: 5px; }

.company-section {
  height: 580px;
  background: url("../images/company-bg.jpg") no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box; }

.com-carousel,
.com-content {
  margin: 0 auto; }

.com-carousel {
  width: 1100px;
  height: 400px;
  position: relative;
  overflow: hidden; }
  .com-carousel .has-icons-left {
    background: url("../images/icon-left.png") no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 34px;
    border: none;
    left: -35px; }
  .com-carousel .has-icons-right {
    background: url("../images/icon-right.png") no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 34px;
    border: none;
    right: -35px; }

.com-content {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  padding: 50px 30px;
  box-sizing: border-box;
  font-size: 14px;
  color: #000; }
  .com-content p {
    text-align: center;
    font-size: 14px;
    line-height: 32px; }
  .com-content h3 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px; }
  .com-content h4 {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    line-height: 35px; }

.news-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.news-item {
  width: 300px;
  height: 250px;
  padding: 25px;
  box-sizing: border-box;
  color: #000; }
  .news-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 12px; }
  .news-item h4 {
    font-size: 1rem;
    margin-bottom: 8px; }
  .news-item p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px; }
  .news-item span {
    font-size: 14px;
    color: #666;
    cursor: pointer; }
  .news-item.active {
    background: #093884;
    color: #fff; }
    .news-item.active span {
      color: #fff; }

.float-wrap {
  width: 70px;
  position: fixed;
  z-index: 199;
  right: 0;
  bottom: 200px; }

.float-abtn {
  display: block;
  width: 70px;
  height: 50px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center; }
  .float-abtn img {
    width: 25px; }
    .float-abtn img.menu-down {
      transform: rotate(180deg); }

.float-content {
  width: 70px;
  background: #093884;
  padding: 20px 0 5px; }

.float-cell {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px; }
  .float-cell img {
    width: 40px;
    margin-bottom: 5px; }
  .float-cell span {
    color: #fff;
    font-size: 14px; }

.nav-crumbs {
  height: 60px;
  width: 1200px;
  background: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .nav-crumbs a {
    font-size: 1rem;
    line-height: 0; }
  .nav-crumbs i {
    width: 8px;
    height: 13px;
    display: block;
    background: url("../images/icon-2.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 15px; }

.s-banner {
  position: relative;
  overflow: hidden;
  height: 600px; }

.s-b-bg {
  transform: scale(1, 1);
  -webkit-animation: 10s infinite alternate bannerMove;
          animation: 10s infinite alternate bannerMove;
  display: block;
  width: 100%; }

.s-b-text {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

@keyframes bannerMove {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(1.1, 1.1); } }

@-webkit-keyframes bannerMove

/*Safari and Chrome*/ {
  from {
    -webkit-transform: scale(1, 1); }
  to {
    -webkit-transform: scale(1.1, 1.1); } }

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 120px;
  position: relative;
  padding-left: 250px;
  box-sizing: border-box; }

.main-content {
  flex: 1;
  padding-left: 120px; }
  .main-content .h2 {
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 250px; }
  .main-content .h3 {
    font-size: 1rem;
    margin-bottom: 16px;
    display: flex;
    align-items: center; }
    .main-content .h3::before {
      content: "";
      width: 25px;
      height: 25px;
      display: block;
      background: url("../images/icon-3.png") no-repeat;
      background-size: 100% 100%;
      margin-right: 20px; }
    .main-content .h3.icon6::before {
      width: 26px;
      height: 29px;
      background: url("../images/icon-6.png") no-repeat;
      background-size: 100% 100%; }
  .main-content .text {
    line-height: 26px;
    font-size: 14px;
    padding-left: 48px; }
    .main-content .text span {
      margin-right: 50px; }

.check-bwrap {
  width: 100%;
  background: #325084; }

.check-banner {
  max-width: 1920px;
  height: 520px;
  background: url("../images/pic_check_banner.jpg") no-repeat;
  background-size: 100% 100%;
  color: #fff; }
  .check-banner h2 {
    padding-top: 60px;
    font-size: 2.6rem;
    text-align: center; }
  .check-banner h3 {
    padding-top: 80px;
    text-align: center;
    font-size: 1.5rem; }
  .check-banner p {
    text-align: center;
    font-size: 1.2rem;
    padding: 50px 0 30px; }
  .check-banner .b-button {
    border: solid 1px #bad4ff;
    color: #fff;
    font-size: 1.2rem;
    width: 11rem;
    margin: 0 auto;
    text-align: center;
    background: #1451b8;
    line-height: 48px;
    cursor: pointer; }

.check-select {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 40px; }

.select-item {
  position: relative; }
  .select-item:first-child .s-lable {
    justify-content: center;
    cursor: initial; }
  .select-item .s-lable {
    height: 45px;
    background: #fff;
    border-radius: 6px;
    margin: 0 10px;
    color: #333;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 90px;
    padding: 0 12px;
    cursor: pointer; }
    .select-item .s-lable i {
      width: 15px;
      height: 11px;
      display: block;
      background: url("../images/icon-4.png") no-repeat;
      background-size: 100% 100%; }
  .select-item .s-options {
    display: none;
    position: absolute;
    top: 45px;
    left: 10px;
    z-index: 12;
    min-width: 140px;
    max-height: 300px;
    overflow-y: auto;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18); }
    .select-item .s-options li {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
      cursor: pointer; }
      .select-item .s-options li:hover {
        text-decoration: none;
        background-color: #eee; }

.select-submit {
  width: 120px;
  line-height: 45px;
  text-align: center;
  border-radius: 8px;
  background: #41b0e2;
  color: #fff;
  margin-left: 15px;
  font-size: 1.2rem;
  cursor: pointer; }

.check-content {
  width: 1200px;
  margin: 30px auto 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap; }
  .check-content .check-c-item {
    position: relative;
    width: 32%;
    height: 220px; }
    .check-content .check-c-item img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    .check-content .check-c-item h2 {
      text-align: center;
      font-size: 1.5rem;
      text-align: center;
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.6); }

::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.1); }

.material-content {
  background: #f6f6f6;
  padding: 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row; }

.m-c-item {
  background: #fff;
  width: 280px;
  height: 220px;
  padding: 25px;
  box-sizing: border-box;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem; }
  .m-c-item.pic01 {
    background: #fff url("../images/pic_hightech_01.png") no-repeat 20px 10px;
    background-size: 65px 56px; }
  .m-c-item.pic02 {
    background: #fff url("../images/pic_hightech_02.png") no-repeat 20px 10px;
    background-size: 83px 56px; }
  .m-c-item.pic03 {
    background: #fff url("../images/pic_hightech_03.png") no-repeat 20px 10px;
    background-size: 83px 56px; }
  .m-c-item.pic04 {
    background: #fff url("../images/pic_hightech_04.png") no-repeat 20px 10px;
    background-size: 83px 56px; }
  .m-c-item.pic05 {
    background: #fff url("../images/pic_hightech_05.png") no-repeat 20px 10px;
    background-size: 83px 56px; }
  .m-c-item.pic06 {
    background: #fff url("../images/pic_hightech_06.png") no-repeat 20px 10px;
    background-size: 83px 56px; }

.factor-wrap {
  max-width: 1920px;
  margin: 0 auto 50px;
  height: 600px;
  color: #fff;
  background: url("../images/pic_hightech_pic.jpg") no-repeat; }
  .factor-wrap .fcontent {
    width: 900px;
    margin: 0 auto;
    padding-left: 160px; }
    .factor-wrap .fcontent h2 {
      color: #fff;
      text-align: center;
      padding-bottom: 28px; }
    .factor-wrap .fcontent p {
      font-size: 1rem;
      line-height: 25px; }

.about-hy {
  width: 1200px;
  margin: 0 auto 50px; }
  .about-hy p {
    line-height: 30px;
    font-size: 14px;
    padding: 0 50px;
    font-weight: bold; }
  .about-hy .about-pics {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; }
    .about-hy .about-pics-item {
      width: 260px;
      height: 182px;
      overflow: hidden; }
      .about-hy .about-pics-item:hover img {
        transform: scale(1.1); }
    .about-hy .about-pics img {
      width: 100%;
      height: 100%; }

.about-aim {
  max-width: 1920px;
  margin: 0 auto;
  height: 380px;
  background: url("../images/pic_about_bg.jpg") no-repeat; }
  .about-aim h2 {
    color: #fff;
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 0px; }
  .about-aim h3 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 40px;
    padding-top: 40px; }
  .about-aim h4 {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    line-height: 38px; }

.about-team {
  max-width: 1920px;
  margin: 0 auto 50px;
  background: url("../images/pic_about_pic.jpg") no-repeat right top;
  background-size: 595px 500px;
  height: 500px; }
  .about-team h2 {
    text-align: left; }
  .about-team p {
    font-size: 1rem;
    line-height: 35px;
    text-indent: 2em; }

.echange-intro {
  display: flex;
  align-items: center; }

.echange-i-l {
  width: 50%;
  flex-shrink: 0;
  background: #41b0e2;
  height: 280px;
  box-sizing: border-box;
  padding-left: 50px; }
  .echange-i-l h2 {
    color: #fff;
    text-align: left;
    padding-left: 0 !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important; }
  .echange-i-l ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row; }
    .echange-i-l ul li {
      width: 50%;
      color: #fff;
      font-size: 1rem;
      line-height: 30px; }

.echange-i-r {
  width: 50%; }
  .echange-i-r img {
    width: 100%;
    height: 280px; }

.echange-info {
  margin-top: 30px;
  background: #f9f9f9;
  padding: 25px 35px 80px; }
  .echange-info h3.icon5::before {
    width: 30px;
    height: 30px;
    background: url("../images/icon-5.png") no-repeat;
    background-size: 100% 100%; }
  .echange-info h3.icon18::before {
    width: 30px;
    height: 30px;
    background: url("../images/icon-18.png") no-repeat;
    background-size: 100% 100%; }

.cancel-process {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 47px; }

.cancel-item {
  border-radius: 6px;
  background: #41b0e2;
  color: #fff;
  font-size: 14px;
  width: 160px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .cancel-item i {
    display: block;
    height: 30px;
    margin-right: 10px; }
  .cancel-item i.ci01 {
    width: 26px;
    background: url("../images/icon-7.png");
    background-size: 100% 100%; }
  .cancel-item i.ci02 {
    width: 30px;
    background: url("../images/icon-8.png");
    background-size: 100% 100%; }
  .cancel-item i.ci03 {
    width: 30px;
    background: url("../images/icon-9.png");
    background-size: 100% 100%; }

.ci-line {
  width: 80px;
  height: 2px;
  background: #dedede; }

.trademark-content {
  padding: 80px 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row; }

.trademark-process {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .trademark-process li {
    position: relative;
    width: 12%; }
    .trademark-process li::before {
      content: "";
      display: block;
      height: 50px;
      width: 1px;
      background: #000;
      position: absolute;
      left: 9px; }
    .trademark-process li:nth-child(n)::before {
      bottom: -50px; }
    .trademark-process li:nth-child(n) p {
      position: absolute;
      bottom: -70px;
      left: -20%; }
    .trademark-process li:nth-child(2n)::before {
      top: -50px; }
    .trademark-process li:nth-child(2n) p {
      position: absolute;
      top: -75px;
      left: -20%; }
    .trademark-process li::after {
      content: "";
      display: block;
      width: 83%;
      height: 2px;
      background: #1451b8;
      left: 20px;
      position: absolute;
      top: 9px; }
    .trademark-process li:last-child {
      width: 3%; }
      .trademark-process li:last-child::after {
        display: none; }
  .trademark-process span {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: #1451b8;
    border: solid 1px #1451b8;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .trademark-process p {
    position: absolute; }

.trademark-wrap {
  max-width: 1920px;
  margin: 0 auto 50px; }
  .trademark-wrap .fcontent {
    width: 900px;
    margin: 0 auto;
    padding-left: 160px; }
    .trademark-wrap .fcontent .h2 {
      text-align: left;
      padding-left: 240px; }

.trademark-more {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .trademark-more .t-m-item {
    width: 48%;
    height: 190px;
    margin-bottom: 30px;
    position: relative; }
  .trademark-more p {
    font-size: 1.2rem;
    position: absolute;
    z-index: 19;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .trademark-more .t-m-pic {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden; }
    .trademark-more .t-m-pic:hover img {
      transform: scale(1.1); }
    .trademark-more .t-m-pic img {
      height: 100%;
      width: 100%; }

.trademark-btn {
  color: #1451b8;
  border: solid 1px #1451b8;
  font-size: 1rem;
  padding: 10px 30px;
  display: inline-block;
  margin-left: 31%;
  margin-bottom: 40px; }

.tax-affairs-info {
  padding: 10px 35px 80px; }
  .tax-affairs-info h1 {
    font-size: 1.3rem;
    padding: 20px 0 20px 48px; }
  .tax-affairs-info .text-g {
    padding-left: 48px;
    color: #888;
    line-height: 22px;
    font-size: 14px; }

.tax-flex {
  display: flex;
  align-items: flex-start;
  padding-left: 48px;
  margin-bottom: 10px; }
  .tax-flex i {
    margin-right: 6px;
    padding: 3px 10px;
    font-size: 15px;
    color: #fff;
    border-radius: 4px; }
    .tax-flex i.orange {
      font-weight: bold;
      background: #ff9d1e; }
    .tax-flex i.green {
      background: #60d41a; }
  .tax-flex .blue-font {
    line-height: 26px; }
  .tax-flex .text-g {
    padding-left: 0;
    line-height: 26px; }

.blue-font {
  color: #19a1ff;
  font-size: 14px;
  font-weight: bold; }

.news-list {
  padding-top: 30px;
  margin-bottom: 30px; }
  .news-list + .news-list {
    border-top: solid 3px #eef2fc; }
  .news-list a:hover .n-date {
    background: #1451b8; }
  .news-list a:hover .n-content h2 {
    color: #1451b8; }

.news-cell {
  width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center; }

.n-date {
  background: #d0d0d2;
  color: #fff;
  width: 130px;
  height: 130px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 40px; }
  .n-date i {
    font-size: 2rem;
    margin-bottom: 4px; }
  .n-date span {
    font-size: 1.2rem; }

.n-content h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px; }

.n-content p {
  font-size: 1rem;
  line-height: 25px;
  padding-right: 80px; }

.pagination-section {
  width: 100%;
  text-align: center;
  border-bottom: solid 3px #eef2fc;
  padding-bottom: 30px;
  margin-top: 50px; }

.pagination {
  font-size: 80%;
  display: flex;
  align-items: center;
  justify-content: center; }

.pagination a {
  text-decoration: none;
  border-top: solid 1px #e1e1e1;
  border-bottom: solid 1px #e1e1e1;
  border-right: solid 1px #e1e1e1;
  color: #333; }
  .pagination a:nth-child(2), .pagination a:nth-child(4), .pagination a:nth-last-child(2) {
    border-left: solid 1px #e1e1e1; }

.pagination a,
.pagination span {
  display: block;
  width: 35px;
  line-height: 35px;
  text-align: center; }

.pagination .prev {
  width: 70px;
  margin-right: 5px;
  border-left: solid 1px #e1e1e1; }

.pagination .next {
  width: 70px;
  margin-left: 5px;
  border-left: solid 1px #e1e1e1; }

.pagination .current {
  background: #1451b8;
  color: #fff;
  border: solid 1px #1451b8; }

.pagination .current.prev,
.pagination .current.next {
  color: #999;
  border-color: #999;
  background: #fff; }

.v-material {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 50px; }

.v-m-item {
  background: #f5f7fc;
  box-sizing: border-box;
  padding: 12px 16px;
  display: flex;
  align-items: flex-start;
  width: 23.5%;
  margin-bottom: 18px; }
  .v-m-item.h100 {
    height: 100px; }
  .v-m-item.h120 {
    height: 120px; }
  .v-m-item i {
    margin-right: 15px;
    width: 6px;
    height: 6px;
    background: #1451b8;
    border-radius: 50%;
    margin-top: 13px; }
    .v-m-item i.circle {
      background: #5396ff;
      display: flex;
      align-items: center;
      justify-content: center; }
      .v-m-item i.circle::before {
        content: "";
        display: block;
        width: 2px;
        height: 2px;
        background: #fff;
        border-radius: 50%; }
  .v-m-item h3 {
    font-size: 1rem;
    margin-bottom: 4px;
    line-height: 30px; }
  .v-m-item p {
    font-size: 14px;
    color: #adaaaa;
    line-height: 22px; }

.f-material {
  margin: 50px 50px 30px; }
  .f-material .v-m-item {
    border-radius: 4px; }
    .f-material .v-m-item i {
      background: #5396ff;
      display: flex;
      align-items: center;
      justify-content: center; }
      .f-material .v-m-item i::before {
        content: "";
        display: block;
        width: 2px;
        height: 2px;
        background: #fff;
        border-radius: 50%; }

.verification-info {
  margin-top: 30px;
  margin-bottom: 40px;
  background: #f5f7fc;
  padding: 35px 220px; }
  .verification-info .h3 {
    font-size: 1.5rem;
    margin-bottom: 16px;
    display: flex;
    align-items: center; }
    .verification-info .h3.icon5::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background: url("../images/icon-5.png") no-repeat;
      background-size: 100% 100%;
      margin-right: 20px; }
  .verification-info .text {
    line-height: 40px;
    font-size: 1rem;
    padding-left: 48px; }
    .verification-info .text span {
      margin-right: 50px; }

.verification-intro .echange-i-l,
.verification-intro .echange-i-r img {
  height: 200px; }

.verification-intro .echange-i-l h2 {
  padding-bottom: 20px !important;
  font-weight: normal;
  font-size: 1.3rem; }

.verification-intro p {
  color: #fff;
  font-size: 1.1rem; }

.resigiter-content {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.resigiter-item {
  width: 32%; }

.r-i-header {
  height: 80px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #41b0e2;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }
  .r-i-header h1 {
    font-size: 1.3rem; }
  .r-i-header img {
    width: 45px; }

.r-i-body {
  border: solid 1px #d0d0d2;
  padding: 16px 5px 16px 10px;
  height: 180px;
  box-shadow: 0px 10px 16px 3px #f0f2f8; }
  .r-i-body.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row; }
  .r-i-body p {
    line-height: 24px;
    font-size: 14px;
    padding-left: 30px; }

.r-body_cell {
  font-size: 14px;
  width: 50%;
  display: flex;
  align-items: center;
  line-height: 24px; }
  .r-body_cell::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    background: url("../images/pic_register_03.png") no-repeat;
    background-size: 100% 100%; }

.pros-content {
  padding-left: 290px;
  padding-bottom: 80px;
  margin-bottom: 20px; }
  .pros-content .flex {
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    .pros-content .flex.right {
      justify-content: flex-end;
      padding-right: 100px; }
  .pros-content .icon-arrow {
    width: 70px;
    margin: 0 12px; }
    .pros-content .icon-arrow.left {
      transform: rotate(180deg); }
    .pros-content .icon-arrow.down {
      transform: rotate(90deg); }

.pros-item {
  width: 230px; }
  .pros-item .pro-header {
    width: 100%;
    color: #fff;
    background: #1451b8;
    height: 60px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; }
    .pros-item .pro-header i {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: solid 2px #fff;
      display: flex;
      align-items: center;
      justify-content: center; }
  .pros-item .pro-body {
    background: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px;
    height: 120px;
    text-align: center;
    font-size: 1rem;
    line-height: 25px;
    font-weight: bold;
    box-shadow: 0px 5px 8px 3px #ebedf3; }

.patent-content {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.p-c-item {
  width: 24%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .p-c-item img {
    width: 120px;
    height: 120px;
    display: block;
    margin-bottom: 25px; }
  .p-c-item span {
    font-size: 1.1rem; }

.reg-content {
  padding-left: 280px;
  display: flex;
  justify-content: space-between; }

.r-c-item {
  width: 23.5%;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 2px #f4f4f4;
  cursor: pointer; }
  .r-c-item:hover .r-i_pic img {
    transform: scale(1.1); }
  .r-c-item:hover .rbtn {
    border-color: #1451b8 !important;
    color: #1451b8; }
  .r-c-item .r-i_pic {
    width: 100%;
    height: 125px;
    overflow: hidden; }
    .r-c-item .r-i_pic img {
      width: 100%;
      height: 100%; }
  .r-c-item .r-i_content {
    background: #f6f6f6;
    height: 135px;
    text-align: center; }
    .r-c-item .r-i_content h3 {
      padding: 8px 0;
      color: #000;
      font-size: 1.1rem; }
    .r-c-item .r-i_content p {
      font-size: 13px;
      color: #333; }
    .r-c-item .r-i_content .rbtn {
      padding: 3px 10px;
      font-size: 14px;
      border: solid 1px #010f26;
      width: 80px;
      margin: 32px auto 0; }

.qua-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 60px;
  border-top: solid 5px #f0f0f0;
  border-right: solid 5px #f0f0f0; }

.qua-item {
  width: 20%;
  height: 165px;
  border-bottom: solid 5px #f0f0f0;
  border-left: solid 5px #f0f0f0;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer; }
  .qua-item:hover {
    background: #e9f7fd; }
  .qua-item img {
    height: 45px;
    margin-bottom: 25px;
    margin-top: 30px; }
  .qua-item p {
    text-align: center;
    padding: 0 12px;
    font-size: 1rem; }

.qua-intro {
  box-shadow: 0px 8px 8px 2px #ebeef5; }
  .qua-intro .echange-i-l {
    padding-top: 30px;
    padding-left: 80px;
    height: 350px;
    background: #ebf0fd; }
    .qua-intro .echange-i-l h3 {
      font-size: 1.2rem;
      font-weight: bold; }
      .qua-intro .echange-i-l h3::before {
        width: 28px;
        height: 28px; }
    .qua-intro .echange-i-l p {
      line-height: 28px;
      color: #666666;
      font-size: .9rem; }
  .qua-intro .echange-i-r img {
    height: 350px; }

.agent-intro .echange-i-l {
  height: 320px;
  width: 53%;
  padding-left: 35px; }
  .agent-intro .echange-i-l h2 {
    font-weight: normal;
    font-size: 1.3rem;
    padding-top: 30px !important;
    padding-bottom: 25px !important; }

.agent-intro .echange-i-r {
  width: 47%; }
  .agent-intro .echange-i-r img {
    height: 320px; }

.agent-info {
  display: flex;
  align-items: center;
  margin-top: 40px; }
  .agent-info .a-l,
  .agent-info .a-r {
    width: 50%;
    padding: 35px; }
  .agent-info .a-l {
    background: #f9f9f9; }
  .agent-info .a-r {
    background: #d6e6ff; }
  .agent-info h3.icon5::before {
    width: 30px;
    height: 30px;
    background: url("../images/icon-5.png") no-repeat;
    background-size: 100% 100%; }
  .agent-info h4 {
    font-size: 1.5rem;
    padding-left: 50px;
    padding-top: 120px; }
  .agent-info h5 {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 52px; }

.company-staff {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.c-staff-item {
  width: 30%; }
  .c-staff-item p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px; }

.c-staff-pic {
  background: #1452b9;
  overflow: hidden;
  height: 300px; }

.detailpage-left {
  width: 780px;
  padding-top: 50px;
  float: left; }
  .detailpage-left .arttit {
    font-family: "Microsoft YaHei", 微软雅黑;
    font-size: 25px;
    line-height: 44px;
    color: #333333;
    font-weight: bold; }
  .detailpage-left .author {
    font-family: "Microsoft YaHei", 微软雅黑;
    font-size: 13px;
    line-height: 40px;
    color: #999999;
    padding: 18px 0px; }
    .detailpage-left .author .line {
      padding: 0 10px;
      color: #eee; }
    .detailpage-left .author .info-detail {
      padding: 5px; }
  .detailpage-left .article-content {
    line-height: 36px;
    font-size: 15px; }
    .detailpage-left .article-content p {
      margin-top: 15px;
      margin-bottom: 20px; }
    .detailpage-left .article-content img {
      margin: 20px 0; }
  .detailpage-left .artbottom {
    font-family: "Microsoft YaHei", 微软雅黑;
    margin-top: 50px; }
    .detailpage-left .artbottom .keyword {
      zoom: 1; }
      .detailpage-left .artbottom .keyword:after {
        content: '';
        display: block;
        clear: both; }
      .detailpage-left .artbottom .keyword a, .detailpage-left .artbottom .keyword span {
        font-size: 14px;
        line-height: 34px;
        color: #666666;
        display: block;
        float: left;
        margin-right: 10px; }
      .detailpage-left .artbottom .keyword a {
        padding: 0 9px;
        border: 1px solid #eee;
        margin-bottom: 5px;
        text-decoration: none; }
        .detailpage-left .artbottom .keyword a:hover {
          border-color: #1451b8;
          background-color: #1451b8;
          color: #fff; }
  .detailpage-left .article-link {
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 0 60px 0 25px;
    height: 72px;
    background-color: #f9f9f9; }
    .detailpage-left .article-link div div, .detailpage-left .article-link div span {
      float: left;
      display: block;
      font-size: 14px;
      line-height: 72px;
      color: #888f9b; }
    .detailpage-left .article-link div div {
      max-width: 290px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .detailpage-left .article-link div a {
      color: #888f9b;
      text-decoration: none; }
      .detailpage-left .article-link div a:hover {
        color: #1451b8; }
    .detailpage-left .article-link .prev {
      float: left;
      zoom: 1; }
      .detailpage-left .article-link .prev:after {
        content: '';
        display: block;
        clear: both; }
    .detailpage-left .article-link .next {
      zoom: 1;
      float: right; }
      .detailpage-left .article-link .next:after {
        content: '';
        display: block;
        clear: both; }

.inforpage-right {
  width: 350px;
  float: right; }
  .inforpage-right .formbox {
    margin-bottom: 20px;
    width: 100%;
    height: 360px;
    border-radius: 3px;
    background-color: #ffffff;
    background: #ffffff url("../images/im_bg_jsfwtd.png") no-repeat center;
    background-size: cover; }
    .inforpage-right .formbox .title {
      font-size: 23px;
      line-height: 78px;
      color: #ffffff;
      text-align: center; }
    .inforpage-right .formbox .insome {
      box-sizing: content-box;
      width: 256px;
      height: 48px;
      border-radius: 3px;
      background-color: #ffffff;
      font-size: 13px;
      line-height: 46px;
      color: #999999;
      margin: 0 auto;
      margin-bottom: 16px;
      padding: 0 25px; }
      .inforpage-right .formbox .insome input {
        border: none;
        line-height: 46px;
        width: 100%;
        height: 46px;
        border-radius: 3px;
        background-color: #ffffff;
        color: #999;
        outline: none;
        vertical-align: middle; }
    .inforpage-right .formbox .insome2 {
      width: 306px;
      height: 48px;
      border-radius: 3px;
      background-color: transparent;
      font-size: 13px;
      line-height: 46px;
      color: #999999;
      margin: 0 auto;
      margin-bottom: 16px;
      zoom: 1; }
      .inforpage-right .formbox .insome2:after {
        content: '';
        display: block;
        clear: both; }
      .inforpage-right .formbox .insome2 .province,
      .inforpage-right .formbox .insome2 .city {
        width: 146px;
        height: 48px;
        border-radius: 3px;
        background-color: #ffffff; }
        .inforpage-right .formbox .insome2 .province select,
        .inforpage-right .formbox .insome2 .city select {
          padding-left: 25px;
          color: #999;
          border: none;
          line-height: 46px;
          width: 100%;
          height: 46px;
          border-radius: 3px;
          background-color: #ffffff;
          background: #ffffff url("../images/icon_more.png") no-repeat right 16px center;
          background-size: 14px 8px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          text-indent: 0.01px;
          text-transform: none;
          vertical-align: middle;
          outline: none; }
      .inforpage-right .formbox .insome2 .province {
        float: left; }
      .inforpage-right .formbox .insome2 .city {
        float: right; }
    .inforpage-right .formbox .btn {
      width: 306px;
      height: 48px;
      border-radius: 3px;
      background-color: #ffffff;
      cursor: pointer;
      text-align: center;
      font-size: 17px;
      line-height: 48px;
      color: #ffffff;
      background: linear-gradient(to right, #49B7E5, #1451b8);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=bEnabled, startColorstr=#49B7E5, endColorstr=#1451b8);
      margin: 0 auto; }

.views-news {
  padding-top: 25px; }

.comtitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center; }
  .comtitle .line {
    width: 4px;
    height: 24px;
    border-radius: 0;
    background-color: #1451b8;
    margin: 3px 18px 0 0; }
  .comtitle .word {
    font-size: 23px;
    line-height: 30px;
    color: #333333;
    font-weight: bold; }

.post_side_mod_list {
  margin-top: 0; }

.post_side_mod_item {
  padding: 12px 10px;
  font: 14px/20px Arial,Hiragino Sans GB,STHeiti,Helvetica Neue,Helvetica,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
  border-bottom: 1px solid #eee; }
  .post_side_mod_item a {
    color: #555; }
    .post_side_mod_item a:hover {
      color: #1451b8; }

.last-articles h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 38px;
  border-bottom: 1px solid #eee;
  margin-bottom: 8px; }

.last-articles li {
  padding: 4px 0;
  font: 14px/20px Arial,Hiragino Sans GB,STHeiti,Helvetica Neue,Helvetica,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
  display: flex;
  align-items: center; }
  .last-articles li::before {
    content: "";
    display: block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background: url("../images/icon-20.png") no-repeat;
    background-size: 100% 100%; }
  .last-articles li a {
    color: #555; }
    .last-articles li a:hover {
      color: #1451b8; }
